@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --font-primary: 'Poppins', sans-serif;
  --primary-color: #101a2f;
  --secondary-color: #ee7c03;
  --black-color: #030303;
  --white-color: #ffffff;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
}

* {
  box-sizing: border-box;
  padding:  0;
  margin: 0;
  scroll-behavior: smooth;
}


